*.asv
token.txt
#remove .gitignore from onedrive sync
.gitignore-pop-os




covar_X_given_S.mat
Repeated Q/rotation.mat

Capacity/Estimation/Uniformization/NFEE-main/**/*pyc
Capacity/Estimation/Uniformization/NFEE-main/ent_est/__pycache__/entropy.cpython-311.pyc
Capacity/Estimation/Uniformization/NFEE-main/temp_data/CPDSSS_data/50k_high_epoch/CPDSSS_data_dump(2_iter)(50k_samples)(Jan_22).pkl
Capacity/Estimation/Uniformization/NFEE-main/CPDSSS_run_double.sh
Capacity/Estimation/Uniformization/NFEE-main/CPDSSS_run.sh
Capacity/Estimation/Uniformization/NFEE-main/CPDSSS.ini
Capacity/Estimation/Uniformization/NFEE-main/temp_data/**/*(-1_iter)*
Capacity/Estimation/Uniformization/NFEE-main/temp_data/saved_models/
Capacity/Estimation/Uniformization/NFEE-main/.vscode/settings.json
