*.asv
token.txt
#remove .gitignore from onedrive sync
.gitignore-pop-os


covar_X_given_S.mat
Repeated Q/rotation.mat

*pyc
Capacity/Estimation/Uniformization/NFEE-main/ent_est/__pycache__/entropy.cpython-311.pyc
