matplotlib==3.7.2
numpy==1.23.1 (1.20.3? for theano)
pandas==2.1.4
scikit_learn==1.3.2
scipy==1.11.4
seaborn==0.13.1
Theano==1.0.5
python=3.9.7
conda install -c conda-forge pygpu theano


Linux Install
conda create -n unif
https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#debian
https://developer.nvidia.com/cuda-downloads
    follow instructions for required command to install cuda
Install cudnn
    https://docs.nvidia.com/deeplearning/cudnn/install-guide/index.html#installlinux-tar
    https://developer.nvidia.com/rdp/cudnn-download
    extract tar files to /usr/local/cuda directory
    Make sure there are no conflits with anaconda cudnn files
        Search for cudnn.h libsudnn.so (include,lib) in anaconda and replace those with the .tar versions
Troubleshooting:
    Remove ALL nvidia drivers
    https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#removing-cuda-toolkit-and-driver
    Reinstall nvidia driver, CUDA, and cudnn





Windows Install (WIP)
https://hsaghir.github.io/data_science/theano-on-windows/
https://datafireball.com/2016/12/06/theano-installation-on-windows/

pip install Theano
conda install mingw libpython
pip install pipwin
pipwin install pycuda
Microsoft 10 SDK https://developer.microsoft.com/en-us/windows/downloads/windows-sdk/
Add the following system environment variables (search environment variables > edit/new var)
    LIB=C:\Program Files (x86)\Windows Kits\10\Lib\10.0.22621.0\um\x64;C:\Program Files (x86)\Windows Kits\10\Lib\10.0.22621.0\ucrt\x64
    INCLUDE=C:\Program Files (x86)\Windows Kits\10\Lib\10.0.22621.0\ucrt\x64
Add CUDA directory to PATH
    C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v12.3

Install Build tools for visual studio https://visualstudio.microsoft.com/downloads/
    Only need Desktop development with C++
Add .theanorc to \home or C:\Users\{username}
Linux
   [global]
    device = cuda
    floatx = float32

    [cuda]
    root = /usr/local/cuda

    [dnn] 
    enabled = True 
Windows
    [global]
    device=cuda
    floatx=float32
    [blas]
    ldflags=-LC:\openblas\bin
    [gcc]
    cxxflags=-IC:\openblas\include -LC:\openblas\lib
    [nvcc]
    fastmath = True
    flags=-LC:\Users\{username}\anaconda3\libs
    compiler_bindir=C:\Program Files (x86)\Microsoft Visual Studio\2022\BuildTools\VC\Tools\MSVC\14.38.33130\bin\Hostx64\x64
    [cuda]
    root = C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v12.3
